* {
  font-family: "Teko", sans-serif;
}
.flexColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flexRowSearch {
  width: 33vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.testModal {
  background-color: blue;
}

.movieList {
  font-size: 3em;
  color: rgb(255, 255, 255);
  border-radius: 40px;
  padding: 2%;
  background-color: black;
  align-items: center;
  text-align: center;
  max-width: 16vw;
  display: flex;
  flex-direction: column;
}

img {
  border-radius: 30px;
  width: 17vw;
  object-fit: contain;
}

p {
  padding: 1%;
  margin: 0%;
  font-size: 0.5em;
  max-width: 20vw;
  height: 11vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.galleryCompContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4%;
}

.pageDisplayInput {
  width: 3vw;
  border-radius: 30px;
  text-align: center;
  font-size: 2em;
}

.pageDisplayInput:focus {
  outline: none;
}

.movieGallery {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  gap: 30px 30px;
  margin-top: 4%;
}

.paginationButtonContainer {
  margin-top: 7%;
  display: flex;
  width: 15vw;
  justify-content: space-between;
}

.searchInput {
  margin-top: 18%;
  width: 50%;
  min-width: 35vw;
  border-radius: 40px;
  border: hidden;
  margin-bottom: 5%;
  padding: 2%;
  text-align: center;
  font-size: 1.8em;
}
.searchInput::placeholder {
  text-align: center;
  align-items: center;
}

.searchInput:focus::-webkit-input-placeholder {
  opacity: 0;
}

.searchInput:focus {
  outline: none;
}

.roundButton {
  border-radius: 30px;
  border: none;
  font-size: 2em;
  box-shadow: 1px 1px 3px -2px rgb(0 0 0 / 20%),
    1px 1px 1px 1px rgb(0 0 0 / 14%), 1px 1px 5px 1px rgb(0 0 0 / 12%);
}
.roundButton:hover {
  cursor: pointer;
  background-color: tomato;
}

.searchButton {
  width: 5vw;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.searchButton:hover {
  background-color: tomato;
}

.displayDetails {
  font-size: 0.4em;
  color: white;
  margin-top: 2%;
  padding: 1%;
  width: 5vw;
  background-color: rgb(77, 23, 23);
}

.modalContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

h6 {
  font-size: 0.4em;
  margin-bottom: 1.5%;
  margin-top: 1%;
}

.scrollUp {
  margin: 5%;
  width: 3vw;
}

.scrollUp::hover {
  background-color: rgb(77, 23, 23);
}
