<div class="galleryCompContainer">
    <button class="roundButton" (click)="moreMovieDetails(5)">{{moreDetails?'less':'more'}}
    </button>

    <div class="testModal" *ngIf="moreDetails">
        <h1>hi</h1>
    </div>
    <app-button text="popular movies" color="tomato" (btnClick)="searchApi()"></app-button>

    <div class="centerContent">
        <input type="text" placeholder="search">
        <!-- <p>{{inputSearch}}</p> -->
    </div>
    <div class=" paginationButtonContainer">
        <button class="roundButton" (click)="moviePagination(false)">⇚</button>
        <button class="roundButton" (click)="moviePagination(true)">⇛</button>
        <!-- 
    <app-button text="⇚" color="tomato" (click)="moviePagination(false)"></app-button>
    <app-button text="⏩" color="tomato" (click)="moviePagination(true)"></app-button> -->
    </div>

    <div class=" movieGallery">

        <div class="movieList" *ngFor="let movie of movies">
            <p>{{movie.rank}}</p>
            <p>{{movie.title}}</p>
            <!-- <p>{{movie.description}}</p> -->
            <img src={{movie.image}}>
            <p>imDb rating: {{movie.imDbRating}}</p>
            <button (click)="moreMovieDetails(movie.id)">{{selectedID.includes(movie.id)?'less':'more'}}
            </button>
            <div *ngIf="selectedID.includes(movie.id)" class="centerContent movieGallery">

                <p> crew {{movie.crew}}</p>
                <p>year {{movie.year}}</p>
                <p>{{movie.rank}}</p>
                <p>{{movie.title}}</p>
            </div>

            <!-- <p>{{movie.false? movie.id:" teritary works"}}</p> -->
        </div>



    </div>
</div>