* {
  font-family: "Teko", sans-serif;
}
.flexColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flexRowSearch {
  width: 50vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.testModal {
  background-color: blue;
}

.movieList {
  font-size: 3em;
  color: rgb(255, 255, 255);
  border-radius: 40px;
  padding: 2%;
  background-color: black;
  align-items: center;
  text-align: center;
  width: 23vw;
  display: flex;
  flex-direction: column;
}

img {
  border-radius: 30px;
  width: 23vw;
  object-fit: contain;
}

p {
  padding: 1%;
  margin: 0%;
  font-size: 0.55em;
  max-width: 20vw;
  height: 11vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h6 {
  font-size: 0.5em;
  margin-bottom: 1.5%;
  margin-top: 1%;
}

.movieTitle {
  font-size: 0.7em;
  margin-bottom: 4%;
}

.galleryCompContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4%;
}

.movieGallery {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  gap: 30px 30px;
  margin-top: 4%;
}

.paginationButtonContainer {
  margin-top: 3%;
  display: flex;
  width: 15vw;
  justify-content: space-between;
}

.roundButton {
  border-radius: 30px;
  width: 26%;
  background-color: rgb(0, 0, 0);
  border: none;
  font-size: 2.5em;
  color: white;
  box-shadow: 1px 1px 3px -2px rgb(0 0 0 / 20%),
    1px 1px 1px 1px rgb(0 0 0 / 14%), 1px 1px 5px 1px rgb(0 0 0 / 12%);
}
.roundButton:hover {
  cursor: pointer;
  background-color: tomato;
}

.pageDisplayInput {
  width: 26%;
  border-radius: 30px;
  text-align: center;
  font-size: 2.5em;
  border: white;
}

.pageDisplayInput:focus {
  outline: none;
}

.searchInput {
  margin-top: 18%;
  width: 50%;
  min-width: 35vw;
  border-radius: 40px;
  border: hidden;
  margin-bottom: 0%;
  padding: 2%;
  text-align: center;
  font-size: 1.8em;
}
.searchInput::placeholder {
  text-align: center;
  align-items: center;
}

.searchInput:focus::-webkit-input-placeholder {
  opacity: 0;
}

.searchInput:focus {
  outline: none;
}

.searchButton {
  width: 5vw;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.searchButton:hover {
  background-color: tomato;
}

.displayDetails {
  font-size: 0.4em;
  color: white;
  margin-top: 2%;
  padding: 1%;
  width: 5vw;
  background-color: rgb(77, 23, 23);
}

.modalContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.scrollUp {
  margin: 5%;
}

/* .scrollUp::hover {
  background-color: rgb(77, 23, 23);
} */

@media only screen and (max-width: 1479px) {
  p {
    max-width: 29vw;
  }
}

@media only screen and (max-width: 1424px) {
  .flexRowSearch {
    font-size: 1em;
    width: 55vw;
  }

  .paginationButtonContainer {
    width: 19vw;
  }

  .scrollUp {
    width: 8vw;
  }

  .movieList {
    width: 35vw;
  }

  img {
    width: 33vw;
  }

  p {
    max-width: 30vw;
  }

  .movieTitle {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 1213px) {
  .scrollUp {
    width: 8vw;
  }
  .paginationButtonContainer {
    width: 22vw;
  }
  .movieTitle {
    font-size: 0.7em;
  }

  .movieList {
    width: 35vw;
  }

  img {
    width: 33vw;
  }
}

@media only screen and (max-width: 1040px) {
  .paginationButtonContainer {
    width: 27vw;
  }

  .paginationButtonContainer {
    margin-top: 10%;
  }

  p {
    max-width: 70vw;
    font-size: 1.1em;
  }

  .movieTitle {
    font-size: 1.1em;
    padding-top: 5%;
  }

  .movieList {
    width: 75vw;
  }

  img {
    width: 74vw;
  }

  .searchInput {
    width: 50vw;
  }
}

@media only screen and (max-width: 840px) {
  .scrollUp {
    width: 8vw;
  }
  .paginationButtonContainer {
    width: 30vw;
  }

  .flexRowSearch {
    width: 75vw;
  }
}

@media only screen and (max-width: 752px) {
  .scrollUp {
    width: 8vw;
  }
  .paginationButtonContainer {
    width: 35vw;
  }

  p {
    max-width: 70vw;
    font-size: 0.8em;
  }

  .movieTitle {
    font-size: 0.8em;
    padding-top: 5%;
  }

  img {
    width: 67vw;
  }
}

@media only screen and (max-width: 652px) {
  .paginationButtonContainer {
    width: 38vw;
    font-size: 0.8em;
  }

  .searchInput {
    width: 57vw;
    font-size: 1em;
  }

  p {
    font-size: 0.7em;
  }

  .movieTitle {
    font-size: 0.7em;
    padding-top: 5%;
  }

  .movieGallery {
    margin-top: 9%;
  }
}

@media only screen and (max-width: 582px) {
  .paginationButtonContainer {
    width: 46vw;
  }
}

@media only screen and (max-width: 498px) {
  .paginationButtonContainer {
    width: 48vw;
    font-size: 0.7em;
  }
  .movieTitle,
  p {
    font-size: 0.6em;
  }
  .searchInput {
    width: 57vw;
    font-size: 1em;
  }
  .searchInput::placeholder {
    font-size: 0.7em;
  }
}
@media only screen and (max-width: 414px) {
  .paginationButtonContainer {
    width: 54vw;
  }

  p,
  .movieTitle {
    font-size: 0.5em;
  }
}

@media only screen and (max-width: 375px) {
  .paginationButtonContainer {
    width: 59vw;
  }
}

@media only screen and (max-width: 350px) {
  .paginationButtonContainer {
    width: 60vw;
  }
}
