.searchButton {
  border-radius: 20px;
  border: 0ch;
  padding: 3%;
  width: 22vw;
  background-color: rgb(41, 5, 5);
  font-size: 1.5em;
  font-family: "Teko", sans-serif;
  color: rgb(255, 255, 255);
  box-shadow: 0px 1.5px 0px rgba(0, 0, 0, 0.5);
}

.searchButton:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

@media only screen and (max-width: 1424px) {
  .searchbutton {
    width: 25vw;
  }
}

@media only screen and (max-width: 840px) {
  .searchbutton {
    width: 35vw;
  }
}

@media only screen and (max-width: 498px) {
  .searchbutton {
    font-size: 1em;
  }
}
